<div class="contenedor">
  <h2 class="titulo">Lista de productos</h2>

  <form id="product-list-form" class="row g-3">
    <div class="row" id="tabla"></div>
    <div class="col-auto">
      <button type="submit" id="btnCart" class="btn btn-success mt-4">
        Confirmar carrito
      </button>
      <div id="msgCart" class="mt-4"></div>
    </div>
  </form>
</div>
