<div class="contenedor">
  <h2 class="titulo">Registro de Usuario</h2>

  <form action="/signup" method="post" autocomplete="off">
    <div class="mb-3 mt-5 row">
      <label for="nombre" class="col-sm-3 col-form-label"
        ><i><strong>Ingrese su E-mail</strong></i></label
      >
      <div class="col-sm-9 mb-4">
        <input
          id="username"
          class="form-control"
          type="email"
          name="username"
          required
          oninvalid="this.setCustomValidity('Debe ingresar un valor con formato E-Mail');"
          onchange="try{setCustomValidity('')}catch(e){};"
          x-moz-errormessage="Debe ingresar un valor con formato E-Mail"
        />
      </div>
      <label for="password" class="col-sm-3 mb-4 col-form-label"
        ><i><strong>Ingrese su contraseña</strong></i></label
      >
      <div class="col-sm-9">
        <input
          id="password"
          class="form-control"
          type="password"
          name="password"
          required
        />
      </div>

      <label for="nombre" class="col-sm-3 mb-4 col-form-label"
        ><i><strong>Ingrese su nombre y apellido</strong></i></label
      >
      <div class="col-sm-9">
        <input
          id="nombre"
          class="form-control"
          type="text"
          name="nombre"
          required
        />
      </div>

      <label for="direccion" class="col-sm-3 mb-4 col-form-label"
        ><i><strong>Ingrese su dirección</strong></i></label
      >
      <div class="col-sm-9">
        <input
          id="direccion"
          class="form-control"
          type="text"
          name="direccion"
          required
        />
      </div>

      <label for="edad" class="col-sm-3 mb-4 col-form-label"
        ><i><strong>Ingrese su edad</strong></i></label
      >
      <div class="col-sm-9">
        <input
          id="edad"
          class="form-control"
          type="number"
          name="edad"
          required
        />
      </div>

      <label for="telefono" class="col-sm-3 mb-4 col-form-label"
        ><i><strong>Ingrese su número de teléfono</strong></i></label
      >
      <div class="col-sm-9">
        <input
          id="telefono"
          class="form-control"
          type="text"
          name="telefono"
          required
        />
      </div>

      <label for="avatar" class="col-sm-3 col-form-label"
        ><i><strong>Ingrese su avatar</strong></i></label
      >
      <div class="col-sm-9">
        <input
          id="avatar"
          class="form-control"
          type="text"
          name="avatar"
          required
        />
      </div>
    </div>
    <div id="msgRegister" style="color: red; margin: 20px 0"><%=msg%></div>
    <button id="btnRegNewUser" class="btn btn-success mt-3 mb-3">
      Register
    </button>
  </form>
  <hr />
  <button
    id="btnLoginPage"
    class="btn btn-success mt-3"
    onclick="document.location.href = '/login'"
  >
    Ir a Login
  </button>
</div>
