<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabajo Práctico Entregable - Productos y carritos - MongoDB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <!-- Aquí traigo el style dentro del html porque en algunas ocasiones no carga el css
    usando el tag 'link' cuando accedo desde el endpoint de "post" después de cargar un producto -->
  <style>
    p {
      margin-bottom: 0.5rem;
    }

    h2.titulo {
      color: #2528d9;
      margin: 20px 0;
    }

    nav {
      width: 90%;
      margin: 20px auto;
    }
    .w-100 {
      width: 100%;
      margin: 0;
    }
    .w-100:nth-child(even) {
      background: hsl(0, 0%, 93%);
    }
    .w-100:nth-child(odd) {
      background: hsl(0, 0%, 98%);
    }
    .columns:last-child {
      margin-bottom: 0;
    }
    .column {
      padding: 0.5%;
      width: 33%;
    }
    div#msgProd {
      color: red;
    }

    /* Div para contener formulario de carga de productos y listado de productos */

    div.contenedor {
      background-color: #eaeaea;
      padding: 25px;
      margin: 25px 0;
    }
  </style>

  <body>
    <div class="container">
      <h3 class="m-4">Carga de productos para persistencia en Mongo Atlas</h3>
      <%- include('./partials/formulario.ejs') %>
    </div>
  </body>
</html>
